<ion-header>
  <ion-toolbar>
    <ion-title color="secondary">PERFIL CARGADOR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card>
        <ion-card-header>
          <ion-card-title color="secondary"> LOCALIZACIÓN </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>

              <ion-col size-xs="12" size-xl="4" *ngIf="cargador.foto">
                <ion-avatar>
                  <ion-img src="{{api}}/{{cargador.foto}}" (click)="tomarFotografia()"></ion-img>
                </ion-avatar>
              </ion-col>

              <ion-col size-xs="12" size-xl="4">
                <ion-item>
                  <ion-input disabled [(ngModel)]="cargador.rfc" type="text" required placeholder="RFC"></ion-input>
                  <ion-label>
                    <ion-icon name=""></ion-icon>
                  </ion-label>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-xl="4">
                <ion-item>
                  <ion-input [(ngModel)]="cargador.password" type="password" required placeholder="Contraseña">
                  </ion-input>
                  <ion-label>
                    <ion-icon name="lock-closed"></ion-icon>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title color="secondary"> DETALLES </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size-xs="12" size-xl="4">
                <ion-item>
                  <ion-input [(ngModel)]="cargador.nombre" type="text" required placeholder="Nombre"></ion-input>
                  <ion-label>
                    <ion-icon name="text"></ion-icon>
                  </ion-label>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-xl="4">
                <ion-item>
                  <ion-input [(ngModel)]="apellidoPat" type="text" required placeholder="Apellido Paterno"></ion-input>
                  <ion-label>
                    <ion-icon name="text"></ion-icon>
                  </ion-label>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-xl="4">
                <ion-item>
                  <ion-input [(ngModel)]="apellidoMat" type="text" required placeholder="Apellido Materno"></ion-input>
                  <ion-label>
                    <ion-icon name="text"></ion-icon>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size-xs="12" size-xl="6">
                <ion-item>
                  <ion-input [(ngModel)]="cargador.telefono" type="text" required placeholder="Telefono"></ion-input>
                  <ion-label>
                    <ion-icon name="call"></ion-icon>
                  </ion-label>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-xl="6">
                <ion-item>
                  <ion-icon style="padding: 0 15px" name="business-outline"></ion-icon>
                  <ion-input [(ngModel)]="cargador.empresa" disabled>
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>

        <ion-card-content>
          <ion-button class="ion-float-right ion-margin-top ion-margin-bottom" fill="solid"
            (click)="actualizarPerfil()">
            ACTUALIZAR
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>